In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmplot

In [2]:
data = pd.read_csv('Data_of_counts_MarL1.csv')

In [3]:
data.head()

,Unnamed: 0,TIME,SPEED,Latitude,Longitude,CARS,PERSONS,MOTORCYCLES,TRUCKS
0,0,39,4,17.340996,78.539690,0,0,0,0
1,1,40,3,17.340993,78.539693,0,0,0,0
2,2,41,1,17.340991,78.539694,0,0,0,0
3,3,42,0,17.340990,78.539697,0,0,0,0
4,4,43,0,17.340990,78.539698,0,0,0,0

In [4]:
data.columns

Index(['Unnamed: 0', 'TIME', 'SPEED', 'Latitude', 'Longitude', 'CARS',
       'PERSONS', 'MOTORCYCLES', 'TRUCKS'],
      dtype='object')

In [5]:
data = data[['TIME','SPEED','Latitude','Longitude','CARS','PERSONS','MOTORCYCLES','TRUCKS']]
data.head()

   TIME  SPEED   Latitude  Longitude  CARS  PERSONS  MOTORCYCLES  TRUCKS
0    39      4  17.340996  78.539690     0        0            0       0
1    40      3  17.340993  78.539693     0        0            0       0
2    41      1  17.340991  78.539694     0        0            0       0
3    42      0  17.340990  78.539697     0        0            0       0
4    43      0  17.340990  78.539698     0        0            0       0

In [6]:
data.shape[0]

121

In [7]:
i=0
time_instances = []
while i < (data.shape[0] - 10):
    A = data['SPEED'].iloc[i:i+10]
    arr = np.array(A<20)
    count = np.count_nonzero(arr)
    if count == 10:
        time_instances.append(i)
        i = i + 10
    else:
        i = i + 1

In [10]:
time_instances

[0, 10, 20, 43, 53, 63, 73, 97, 107]

In [13]:
x = data['TIME'].iloc[0]
TIME = []
C= []
P = []
M = []
T = []
Lati = []
Longi = []

for i in time_instances:
    cars = data['CARS'].iloc[i-x:i-x+10]
    car_array = np.array(cars>0)
    car_count = np.count_nonzero(car_array)
    C.append(car_count)
    persons = data['PERSONS'].iloc[i-x:i-x+10]
    person_array = np.array(persons>0)
    person_count = np.count_nonzero(person_array)
    P.append(person_count)
    bikes = data['MOTORCYCLES'].iloc[i-x:i-x+10]
    bike_array = np.array(bikes>0)
    bike_count = np.count_nonzero(bike_array)
    M.append(bike_count)
    trucks = data['TRUCKS'].iloc[i-x:i-x+10]
    truck_array = np.array(trucks>0)
    truck_count = np.count_nonzero(truck_array)
    T.append(truck_count)
    if car_count>5 or person_count>5 or bike_count>5 or truck_count>5:
        TIME.append(i)
        Lati.append(data['Latitude'].iloc[i-x:i-x+10])
        Longi.append(data['Longitude'].iloc[i-x:i-x+10])
    else:
        continue
print(TIME)
print(Lati)
print(Longi)

[0, 10, 43, 107]
[82    17.340678
83    17.340681
84    17.340688
85    17.340694
86    17.340700
87    17.340705
88    17.340707
89    17.340707
90    17.340740
91    17.340735
Name: Latitude, dtype: float64, 92     17.340713
93     17.340714
94     17.340715
95     17.340725
96     17.340710
97     17.340711
98     17.340709
99     17.340710
100    17.340720
101    17.340734
Name: Latitude, dtype: float64, 4     17.340990
5     17.340989
6     17.340987
7     17.340986
8     17.340986
9     17.340984
10    17.340985
11    17.340985
12    17.340984
13    17.340979
Name: Latitude, dtype: float64, 68    17.340688
69    17.340692
70    17.340687
71    17.340690
72    17.340688
73    17.340688
74    17.340692
75    17.340696
76    17.340697
77    17.340700
Name: Latitude, dtype: float64]
[82    78.537804
83    78.537780
84    78.537757
85    78.537733
86    78.537699
87    78.537653
88    78.537608
89    78.537550
90    78.537506
91    78.537452
Name: Longitude, dtype: float64, 92     78.537402
93     78.537345
94     78.537284
95     78.537222
96     78.537168
97     78.537121
98     78.537080
99     78.537034
100    78.536995
101    78.536987
Name: Longitude, dtype: float64, 4     78.539698
5     78.539698
6     78.539696
7     78.539694
8     78.539692
9     78.539692
10    78.539692
11    78.539692
12    78.539691
13    78.539695
Name: Longitude, dtype: float64, 68    78.538176
69    78.538148
70    78.538124
71    78.538109
72    78.538091
73    78.538063
74    78.538048
75    78.538039
76    78.538026
77    78.538008
Name: Longitude, dtype: float64]

In [15]:
def PlotMap(latitude, longitude):
    gmap = gmplot.GoogleMapPlotter(data['Latitude'].iloc[1], data['Longitude'].iloc[1], 17)
    gmap.scatter(latitude, longitude, 'red', size=6, marker=False)
    gmap.draw("traffic_instances_1.html")

In [16]:
PlotMap(Lati, Longi)